@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--primary: gray;
	--secondary: white;
}

/* Firefox */
* {
	scrollbar-width: normal;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 6px;
}
